.card-wrapper {
  // background-color: $colour-three;
  opacity: 0.8;
  border-radius: 5px;
  padding: -3px;
  &:hover {
    opacity: 1;
  }
}

.second-to-fifth {
  display: flex;
  justify-content: space-between;
}

.page-wrapper {
  // background-color: $colour-three;
  opacity: 0.8;
  border-radius: 5px;
  padding: 3px;
}
.card {
  background-color: inherit;
}

// div.favour-index-card {
//   display: flex;
// }
//
// div.card-header-title {
//   justify-content: center;
// }

div.favour-index-points-wrapper {
  display: flex;

  div.favour-index-points {
    justify-content: center;
  }
}

a.leaderboard-link {
  border: 5px solid $colour-three;
}
