* {
  border-color: saddlebrown;
}

div.info-card {
  background-color: goldenRod;
  .info-card-title {
    display: flex;
    align-items: center;
    background-color: saddlebrown;
  }
}

a.link-wrap{
  div.test {
    color: green !important;
    background-color: green;
  }
}
.test {
  font-family: "Gill Sans", sans-serif;
  font-size: 60px;
  background-color: inherit;
}
// justify-content: center;
