$colour-one: #8fd8d2;
$colour-two: #fedcd2;
$colour-three: #df744a;
$colour-four: #dcb239;
$colour-five: #FDFDFD;

$font-one: 'Open Sans', sans-serif;
$font-two: 'Roboto', sans-serif;
$font-three: 'Bungee', cursive;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Bungee', cursive;
