<!DOCTYPE html>
<html ng-app="favourAPI">
<head>
  <meta charset="utf-8">
  <title>KarmaCommunity</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body ng-controller="MainCtrl">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="home">Home</a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-class="{ 'is-active': navbarOpen }" ng-click="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" ng-class="{ 'is-active': navbarOpen }">
      <div class="navbar-start">
        <span class="navbar-item" ng-if="isAuthenticated()">Welcome back {{ currentUser }}</span>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" ng-if="!isAuthenticated()" ui-sref="register">Register</a>
        <a class="navbar-item" ng-if="!isAuthenticated()" ui-sref="login">Log in</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ng-click="logout()">Logout</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="usersIndex">Users</a>
        <a class="navbar-item" ui-sref="favourIndex">Favours</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="favoursNew">New Favour</a>
        <a class="navbar-item" ng-if="isAuthenticated()" ui-sref="about">About</a>
      </div>
    </div>
  </nav>
  <div class="section">
    <div class="container">
      <h1 class="title is-1">KarmaCommunity</h1>
      <div class="is-{{flashMessage.type}}" ng-class="{ 'is-active': flashMessage }">{{ flashMessage.content }}
      </div>
      <ui-view></ui-view>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>KarmaCommunity</strong> was built by <a href="https://github.com/cerbeh">Martin</a> and <a href="https://github.com/stevanpopo">Stevan</a>.
      </p>
    </div>
  </footer>

</body>
</html>
