
// Partials
@import "helper/_variables.scss";

@import "partials/_pointsLogo.scss";
@import "partials/_typography.scss";

@import "components/_showPage.scss";
@import "components/_indexPage.scss";

section.comments, section.gmap, section.similar-favours  {
  margin-top: 30px;
}

section {
  div.page-wrapper {
    .card-wrapper {
      .link-wrap {
        background-color: green;
      }
    }
  }
}
body {
  background-color: $colour-one;
}

nav {
  border-bottom: 3px solid $colour-three;
}
