Volunteers:
<div class=""  ng-repeat="volunteer in favour.volunteers">
  <h6 class="is-6 title">{{ volunteer.username }} {{ volunteer._id }}</h6>
  <button class="button" ng-if="favour.chosen_volunteers.length === 0 && isOwner" ng-click="chooseVolunteer(volunteer)">choose volunteer</button>
</div>

<div class="" ng-if="favour.chosen_volunteers"  ng-repeat="chosen in favour.chosen_volunteers">
  Selected volunteer:
  <p>Hi</p>
  <h6 class="is-6 title">{{ chosen.username }} {{ chosen._id }}</h6>
</div>

<div class="columns">

  <div class="column is-one-third-desktop">
    <div class="points">
      <h1 class="title is-1">{{ favour.points }}</h1>
    </div>
  </div>
  <div class="column">
    <div class="favour-info">
      Status: {{favour.status}}
      <h2 class="title is-2">{{ favour.title }},</h2>
        <h3 class="subtitle is-4">asked by {{ favour.owner.username }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div ng-if="isOwner">
        <div class="field is-grouped">
          <p class="control">
            <a ui-sref="favoursEdit({ id: favour._id })" class="button is-small">Edit</a>
          </p>
          <p class="control">
            <button class="button is-small" ng-click="deleteFavour()">Delete</button>
          </p>
        </div>
      </div>

      <p>is owner? {{isOwner}}</p>
      <p>is chosen volunteer? {{isChosenVolunteer}}</p>
      <p>can volunteer? {{canVolunteer}}</p>

      <p>{{favour.status==='completed'}}</p>
      <p>{{favour.volunteers[0]._id === currentUser._id}}</p>

      <div class="buttons is-centered">
        <button class="button is-success" ng-if="canVolunteer"  ng-click="claimFavour()">Claim this favour</button>
        <!-- favour.status!==completed || favour.status!==verified ||  -->
        <button class="button is-success" ng-if="isChosenVolunteer && favour.status==='inProgress'" ng-click="changeStatus()">I've Completed Favour</button>
        <button class="button is-success" ng-if="isOwner && favour.status==='completed'" ng-click="changeStatus()">I've Verifed Favour Complete</button>
      </div>
      <!-- <p ng-if="canVolunteer()">You've already volunteered!</p> -->
    </div>
  </div>
</div>

<section>
  <form ng-submit="addComment()">
    <div class="field">
      <label class="label" for="">Write a comment here...</label>
      <textarea class="textarea" name="content" id="content" rows="4" ng-model="data.content"></textarea>
    </div>
    <button class="button is-success is-small">Add comment</button>
  </form>

  <article class="media" ng-repeat="comment in favour.comments">
    <figure class="media-left">
      <p class="image is-64x64">
        <img ng-src="{{comment.author.image}}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{comment.author.username}}</strong>
          <br>
          {{comment.content}}
        </p>
      </div>
    </div>
    <div class="media-right">
      <button class="delete" ng-click="removeComment(comment)"></button>
    </div>
  </article>

</section>

<section>
  <div google-map location="favour.location"></div>
</section>
<section>
  <h2 class="title is-2">Similar Available Favours</h2>
  <ul>
    <li ng-repeat="sfavour in favour.similarFavours">{{ sfavour }}</li>
  </ul>
</section>
