<h1 class="title is-1">Karma Leaderboard</h1>

<div class="columns is-multiline page-wrapper">
  <div class="column is-half-desktop is-full-mobile card-wrapper">
    <a ui-sref="usersShow({ id: usersTopFive[0]._id })">
      <div class="columns is-multiline">
        <div class="column is-half">
          <figure class="image">
            <img src="{{ usersTopFive[0].image }}" alt="Profile picture">
          </figure>
        </div>
        <div class="column is-half-desktop">
          <div class="card">
            <div class="card-header is-centered">
              <h1 class="title is-2">
                {{ usersTopFive[0].username}}
              </h1>
            </div>
            <div class="card-content favour-index-points-wrapper">
              <div class="content points favour-index-points">
                {{ usersTopFive[0].points }}
              </div>
            </div>
          </div>
          <div class="column is-12-desktop">
            <article class="message">
              <div class="message-body">
                {{ usersTopFive[0].bio }}
              </div>
            </article>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-half-desktop second-to-fifth">
      <div class="columns is-multiline">

        <div class="column is-full card-wrapper">
          <a ui-sref="usersShow({ id: usersTopFive[1]._id })">
            <div class="columns">
              <div class="column is-4">
                <div class="card is-square">
                  <figure class="image">
                    <img src="{{ usersTopFive[1].image }}" alt="Profile picture">
                  </figure>
                </div>
              </div>
              <div class="column is-4">
                <div class="content">
                  <h2 class="title is-3">{{ usersTopFive[1].username }}</h2>
                </div>
              </div>
              <div class="column is-4 points-medium">
                <h2>{{ usersTopFive[1].points }}</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="column is-full card-wrapper">
          <a ui-sref="usersShow({ id: usersTopFive[2]._id })">
            <div class="columns">
              <div class="column is-4">
                <div class="card is-square">
                  <figure class="image">
                    <img src="{{ usersTopFive[2].image }}" alt="Profile picture">
                  </figure>
                </div>
              </div>
              <div class="column is-4">
                <div class="content">
                  <h2 class="title is-3">{{ usersTopFive[2].username }}</h2>
                </div>
              </div>
              <div class="column is-4 points-medium">
                <h2>{{ usersTopFive[2].points }}</h2>
              </div>
            </div>
          </a>
        </div>

        <div class="column is-half-desktop card-wrapper">
          <a ui-sref="usersShow({ id: usersTopFive[3]._id })">
            <info-card name="usersTopFive[3].username" points="usersTopFive[3].points"></info-card>
          </a>
        </div>

        <div class="column is-half-desktop card-wrapper">
          <a ui-sref="usersShow({ id: usersTopFive[4]._id })">
            <info-card name="usersTopFive[4].username" points="usersTopFive[4].points"></info-card>
          </a>
        </div>

      </div>
    </div>

    <div class="column is-3 card-wrapper" ng-repeat="user in usersRest">
      <a ui-sref="usersShow({ id: user._id })">
        <info-card name="user.username" points="user.points"></info-card>
      </a>
    </div>

  </div>
