<div class="columns">
  <div class="column is-one-third-desktop is-one-half-tablet">
    <img ng-src="{{user.image}}" alt="user_profile">
  </div>
  <div class="column">
    <h1 class="title is-1">{{user.username}}</h1>
    <p>{{user.bio}}</p>
    <div class="field is-grouped">
      <p class="control">
        <a ui-sref="usersEdit({ id: user._id })" class="button is-small">Edit Profile</a>
      </p>
      <p class="control">
        <button class="button is-small" ng-click="deleteUser()">Delete Profile</button>
      </p>
    </div>
    <div class="columns">
      <div class="column is-4" ng-repeat="inProgress in user.inProgress">
        <h2>Jobs you should be doing</h2>
        <h2>{{ inProgress.title }}</h2>
      </div>
      <div class="column is-4" ng-repeat="completedFavour in user.completedFavours">
        <h2>Completed:</h2>
        {{ completedFavour.title }}
      </div>
    </div>
  </div>
</div>
